body{
    background-image: url("life_hacks.png")
}
    
p {
   color:blue;
   font-size:;
 }
 
 #ital{
    font-style:italic;
 }
 
 #id_name{
    font-size: 88px;
 }
 
 .class_name{
    font-size:88px;
 }
