body{
    background-image: url("life_hacks.png")
}
    
.bp {
   color: #6133FF ;
   font-size:40px;

}
.class {
     color:#23284F ;
     font-size:20px;
}

img{
    width:204px;
}
.class
img{
    width:450px;
}
#top{
   border: 2px dotted red;
}
