body{
    background-image: url("life_hacks.png")
}
    
.bp {
   color: #6133FF ;
   font-size:40px;

}
.class {
     color: #8C39FF;
     font-size:20px;
<img src="unknown-1.jpeg" alt=" make keys easier to organize" style= "width: 204px;height:140px">
    
 }
}
