body{
    background-image: url("life_hacks.png")
}
    
.bp {
   color: #6133FF ;
   font-size:40px;

}
.class {
     color:#23284F ;
     font-size:20px;
}

img{
    width:204px;
}

img{
    width;350px;
}
